<!doctype html>
<html lang="en">
  <head>
    <title>create product</title>
    <!-- Required meta tags -->

    <link rel="icon" href="https://scontent.fpat3-3.fna.fbcdn.net/v/t39.30808-6/284705540_1084792408914401_430044043566852024_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_ohc=s0EmOZ4NnaMAX-_ybvr&_nc_ht=scontent.fpat3-3.fna&oh=00_AT9wH4Ep0jZuxNRecALLmd7bi54ZgDPWBtSKCSqUvCU9MA&oe=62C1EBB2" type="image/x-icon">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Fenix' rel='stylesheet'>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
       
    </style>
  </head>
  <body>


    <header>
      <%- include('./header.ejs'); %>
  </header>


  <div class="container-fluid my-5 cart-text-size" >
    <div class="row">
        <div class="col-xl-12 col-12">
            <div class="card border-0 shadow" style="border-radius: 30px; background-color: rgb(227,227,227);">
                <br>
                <h1 class="text-center">Shopping Cart</h1>
              <div class="card-body">
                <% allCart.forEach(function(ele){ %>
                  <div class="text-center">
                    <a href="/deleteAllCartItem/<%= ele._id %>"
                      type="button" class="btn">remove All product</a>
                  </div><br><br>
                <% }) %>
                
            <div class="table-responsive">
                <table class=" table table text-center ">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Brand name</th>
                            <th>price</th>
                            <th>name</th>
                            <th>quantity</th>
                            <th>add</th>
                            <th>remove</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% allCart.forEach(function(ele){ %>
                        <% let arr = ele.items %>
                        <% arr.forEach((item) =>{ %>
                        <tr>
                            <td scope="row"><img src="<%= item.productId.productImage%>" style="width: 100px; height: 100px;"  alt=""></td>
                            <td><%= item.productId.productBrandName %></td>
                            <td>₹ <%= item.productId.productPrice %>.00</td>
                            <td><%= item.productId.productName %></td>
                            <td><%= item.quantity %></td>
                            <td><a href="/addToCart/<%= item.productId._id %>"><i class="fa fa-plus-square" aria-hidden="true" style="font-size: 30px"></i></a></td>
                            <td><a href="/addToCart/<%= item.productId._id %>"><i class="fa fa-minus-square" aria-hidden="true" style="font-size: 30px"></i></a></td>
                        </tr>
                        <% }) %>
                    <% }) %>
                    </tbody>
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>total items</th>
                            <th>total items price</th>
                            <th>procced to buy</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% allCart.forEach(function(ele){ %>
                        <tr>
                            <td scope="row"></td>
                            <td></td>
                            <td style="font-weight: bold"><%= ele.totalItems%></td>
                            <td>₹ <%= ele.totalPrice%>.00</td>
                            <td><a href="" type="button" class="btn">procced to by</a></td>
                        </tr>    
                    <% }) %>
                    </tbody>
                </table>
            </div>
              </div>
            </div>
            
        </div>
    </div>
  </div>

  


             
        <br><br>  
  <footer>
    <%- include('./footer.ejs'); %>
  </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>