<!doctype html>
<html lang="en">
  <head>
    <title>create product</title>
    <!-- Required meta tags -->

    <link rel="icon" href="https://scontent.fpat3-3.fna.fbcdn.net/v/t39.30808-6/284705540_1084792408914401_430044043566852024_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_ohc=s0EmOZ4NnaMAX-_ybvr&_nc_ht=scontent.fpat3-3.fna&oh=00_AT9wH4Ep0jZuxNRecALLmd7bi54ZgDPWBtSKCSqUvCU9MA&oe=62C1EBB2" type="image/x-icon">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Fenix' rel='stylesheet'>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <header>
      <%- include('./header.ejs'); %>
  </header>


  <div class="container my-5">
    <div class="row">
        <div class="col-md-12 col-12">
            <form action="/createProduct" method="post">
              
              <div class="card text-left border-0 shadow pad" style="border-radius: 50px; background-color: rgb(196, 192, 192);">
                <br><br>
                <h2 class="text-center" style="font-weight: bolder;">ADD PRODUCT</h2>
                <br>
                
                <img class="card-img-top" src="holder.js/100px180/" alt="">
                <div class="card-body">
                  <div class="form-group">
                    <input type="text" name="productImage" class="form-control form-control-lg" id="" placeholder="product image link" value="<%=(typeof item!='undefined')? item.title:''%>">
                </div>
                <div class="form-group">
                    <input type="text" name="productBrandName" class="form-control form-control-lg" id="" placeholder="product brand name">
                </div>
                <div class="form-group">
                    <input type="text" name="productPrice" class="form-control form-control-lg"  id="" placeholder="product price">
                </div>
                <div class="form-group">
                    <input type="text" name="productName" class="form-control form-control-lg" id="" placeholder="product name">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn" style="padding: 15px">Add product</button>
                </div>                  
                </div>
                </div>
              </div>
            </form>
        </div>
    </div>
  </div>


  <hr>

  <div class="container-fluid card-view">
   
    <div class="row">
     
    <% allProdect.forEach(function(item){ %>    
      <div class="col-xl-3 col-6">
        <div class="card border-0 shadow pad my-5 text-center" style="border-radius: 30px; background-color: rgb(196, 192, 192);">
          <img class="card-img-top" id="myimg" src="<%= item.productImage%>" alt="">
          <div class="card-body ">
            <span class="fa fa-star checked"></span>
				    <span class="fa fa-star checked"></span>
				    <span class="fa fa-star "></span>
            
            <h6 style="font-weight: bold"><%= item.productName%></h6>            
            <p class="card-text price-font">₹ <%= item.productPrice%>.00</p>            
            <div class="col-auto text-center">
              <a href="/deleteProduct/<%= item._id %>"
               type="button" class="btn">delete item</a>

               <a href="/editProduct/<%= item._id %>"
                type="button" class="btn">edit item</a>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
      </div>
    </div>


             
        <br><br> <br><br><br>
  <footer>
    <%- include('./footer.ejs'); %>
  </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>